header {
    background: rgba(243, 7, 7, 0.733);
    padding: 20px 0;
}

.content {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position:absolute;
    top : 100px;
    right: 0px;
    

}

nav li {
    display: inline;
    margin-left: 15px;
    
}
nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
nav a:hover {
    color: rgb(196, 13, 0);
    cursor:pointer;
    background-color: black;
    padding: 10px;
    border-radius: 45px;
    transition: 0.4s;
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

    
.produtos li {
display: inline-block;
text-align: center;
width: 30%;  
vertical-align: top;
margin: 0 1.5%;
padding: 30px 20px;
box-sizing: border-box;
border: 2px solid black;
border-radius: 45px;
}

.produtos li:hover {
    border-color: rgb(243, 6, 6);
}
.produtos li:active {
    border-color: green;
}
.produtos li:hover h2 {
    font-size: 35px;
}


.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}
.produto-descricao {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}


.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
text-align: center;
background: url("/Imagens/bg.jpg");
padding: 40px;
}
footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 14px;
    margin: 20px 0px 0px;
}